<div style="width:500px;margin:35px">
  <h1>Registro</h1>
  <form id="registerForm">
    
    <label for="">Nombre</label>
    <input name="first_name" class="form-control"/>
    <br/>
    <label for="">Apellido</label>
    <input name="last_name" class="form-control"/>
   <br/>
    <label for="">Email</label>
    <input type="email" name="email" class="form-control"/>
    <br/>
    <label for="">Age</label>
    <input name="age" class="form-control"/>
    <br/>
    <label for="">Contraseña</label>
    <input type="password" name="password" class="form-control"/>
    <input type="submit" class="btn btn-primary" style="margin-top:10px;margin-left:150px">
  </form>
  <p>¿Ya tienes cuenta?<a href="/">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>